@tailwind base;
@tailwind components;
@tailwind utilities;
/* Navigation Bar */
.nav-options {
    color: #fff7f7;
    font-size: 24px;
    font-family:'Inter-Regular',Helvetica;
    
}
.menus {
    color: white; 
    fonts-size:  32px;
    margin: 5;
}
/* Footer */
.footer-sbb{
    color: #fff7f7;
    font-size: 24px;
    font-family:'Inter-Regular',Helvetica;
    text-align: center;
}
/* Homepage */
.main{
    width: 100%;
    height: 100vh;
}

.bg_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter',Helvetica;
    color: #fff7f7;
    font-size: 80px;  
    
}

.overlay {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #171717;
    opacity: 0.8;
    border-radius: 20px;
    width: calc(100% - 300px); 
    height: calc(100% - 300px); 
    margin: 170px; 
}

.order-button {
  background-color: #052e16;
  color: #fff7f7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 14px 40px;
  border: solid 3px;
  border-color: #fff7f7;
  border-radius: 20px;
  transition: transform 0.3s;
}

.order-button:hover {
    background-color: #f28705;
    transform: scale(1.1);
}

.order-button:active{
    transform: translateY(4px);
}
/* About Page */
.about-page {
    background-color: #1F3832;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.about-text {
    font-family: 'Inter', Helvetica;
    font-size: 96px;
    color: #fff7f7;
    text-align: center;
    margin-bottom: 20px;
}

.images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a_image1 {
    width: 80%;
    height: 800px;
    border-radius: 20px;
    border: solid 1px;
    margin-bottom: 20px;
}

.small-images {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.small-images img {
    width: 30%;
    height: auto;
    border-radius: 20px;
    border: solid 1px;
}

.a_overlay {
    background-color: #171717;
    opacity: 0.8;
    border-radius: 20px;
    padding: 20px;
    max-width: 800px;
    margin-top: 20px;
}

.about_info {
    font-family: 'Inter', Helvetica;
    color: #fff7f7;
    font-size: 19px;
    text-align: center;
}


/* Menu Page */

.menu-page {
    background-color: #1F3832;
    width: 100%;
    height: auto;
}

.menu-text{
    font-family: 'Inter', Helvetica;
    font-size: 96px;
    color: #fff7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(40% - 200px); 
}

.coffee-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', Helvetica;
    font-size: 20px;
    color: white;
}

.coffee-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.coffee-label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #171717;
    border-radius: 10px;
    border: solid 1px;
    transition: transform 0.3s;
    margin: 10px;
    overflow: hidden;
}

.coffee-label img {
    width: 225px;
    height: 225px;
    margin-bottom: 8px;
    border-radius: 10px;
    border: solid 1px;
}

.coffee-label:hover {
    transform: scale(1.1);
}

.add-to-cart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff9900;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 10px;
}

.coffee-label:hover .add-to-cart-overlay {
    opacity: 1;
}

.cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #171717;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 1000;
}

.cart-counter {
    font-size: 23px;   
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: left;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: none;
    color: black;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.close-button:hover {
    background: white;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.cart-item-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.notification {
    position: fixed;
    top: 800px;
    right: 20px;
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1002;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.show {
    opacity: 1;
}

.remove-button {
    background-color: #b91c1c;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    float: right; 
}

.add-button {
    background-color: #45a049;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    float: right; 
}

.place-order-button {
    background-color: #1F3832;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
    float: right; 
}

.remove-button:hover {
    background-color: #991b1b;
}

.add-button:hover {
    background-color: #1F3832;
}

.place-order-button:hover {
    background-color: #45a049;
}

/* Contact Page */

.contact-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.contact-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.contact-overlay h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: #f4f4f4;
}

#Mess { 
    height: 100px; 
    max-height: 300px; 
}

.sbtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff9900;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.sbtn:hover {
    background-color: #fb923c;
}

/* Order Page */
.order-page {
    background-color: #171717;
    width: 100%;
    height: 100vh;
}

.order-text {
    font-family: 'Inter', Helvetica;
    font-size: 96px;
    color: #fff7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(40% - 200px);
}

.order-overlay {
    position: absolute;
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #171717;
    border: solid white 1px;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    color: white;
    font-size: 20px;
    overflow: auto;
}

.userinfo-field {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.userinfo-field label {
    font-weight: bold;
}

.userinfo-field input[type="text"],
.userinfo-field input[type="tel"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
}

#paymentMode {
    width: 15%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.submit-order {
    padding: 10px 20px;
    border: none;
    border-radius: 22px;
    background-color: #ff9900;
    color: black;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    margin-left: auto; 
    display: block;    
}

.submit-order:hover {
    background-color: #fb923c;
}
.button-container {
    display: flex;
    justify-content: flex-end; 
}

.go-backb {
    font-size: 22px;
    font-weight: 800;
    background-color: #ff9900;
    padding: 10px 20px;
    border: none;
    border-radius: 22px;
    margin-right: auto; 
    color: black;
    
}

.error {
    color: #dc3545; 
    font-size: 14px; 
    font-style: italic;
    margin-top: 5px; 
}

.go-backb:hover {
    background-color: #fb923c;
}