body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1F3832;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #171717;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.navbar {
    background-color: #171717;
    overflow: hidden;
}

.contacts-table-body {
    max-height: 400px;
    overflow-y: auto;
    display: block;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ff9900;
}
h1 {
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
th {
    background-color: #ff9900;
    color: white;
}
tr:nth-child(even) {
    background-color: #0F0F0F;
}
tr:hover {
    background-color: #0F0F0F;
}
.delete-btn, .view-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
.view-btn {
    background-color: #007bff;
}
.delete-btn:hover {
    background-color: #c82333;
}
.view-btn:hover {
    background-color: #0056b3;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #171717;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: white;
    border-radius: 10px;
    overflow-y: auto; 
    max-height: 70vh; 
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-btn:hover,
.close-btn:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
